streamlit==1.32.2
azure.core.credentials
langchain.text_splitter
numpy==1.23.5
faiss
langchain_community.vectorstores
langchain_core.vectorstores
langchain.chains
langchain.llms
langchain_openai==0.0.8
langchain.prompts
langchain.chains.question_answering
langchain_core.messages
openai==1.14.1
pyodbc==4.0.34
urllib
sqlalchemy==1.4.39
pandas==1.5.3
keyring==23.4.0
azure.identity
pandasai==2.0.26
pandasai.llm
matplotlib.pyplot
os
